footer {
    height: 5vh;
    padding-inline: 10px;
    background-color: lightblue;
    color: color;

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-container {
            display: flex;
            gap: 8px;

            span {
                font-size: 1.2rem;
                font-weight: 700;
               color: white
            }

            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}